:host {
  background: #000;
  display: flex;
  margin-bottom: 1rem;
  margin-right: 1rem;
  //max-width: 320px;
  width: 100%;
}

.videoWrapper {
	position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  width: 100%;
}