:host {
  background: #000;
  display: inline-block;
  margin-bottom: 1rem;
  margin-right: 1rem;
  width: 100%;
}

.videoWrapper {
	position: relative;
  // let's not lock it
  padding-bottom: 56.25%; /* 16:9 */
  width: 100%;
}