$fd-dark-blue: #121220;
$fd-teal: #B0D9D8;
$fd-dark-grey: #363636;

:host {
}

.media-tools {
    display: inline-flex;
    flex-grow: 2;
}  

.locations {
    overflow: scroll;

    a {

    &.active {
        background: $fd-teal;
    }
    }
}

.locations-list {
    overflow: scroll;
}

/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
mat-tab-group { height: 100% }