

<h1>Smallholder agriculture and wild food for sustainable livelihoods</h1>

<h2>Lesson 1: Value-chain</h2>

<p>
In northern Laos, in Nambak and Luang Prabang districts many people depend on a combination of smallholder farming systems and the collection of wild food for subsistence and income in varying proportions based on their location, access to markets and other factors.
</p>

<h3>Overview of villages</h3>

<h4>
Village 1: Ban Bom
</h4>
<p>Plantation forestry, some agriculture, business.</p>

<p>
Household interview, rice paddies, etc.:
</p>
<p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/0JnDssBtW6A?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>

<p>
Rubber & pineapple agroforestry plantation:
</p>
<p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/68jKPuFnUzk?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>

<h4>
Village 2: Nayantai
</h4>
<p>Most dependent on agriculture, handicrafts and tourism.</p>

<p>
Homestay (rural & cultural tourism):
</p>
<p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/raAks2NoM_4?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>

<p>
Maize & tobacco fields outside village:
</p>

<p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/Wcy5u9P1eKI?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>

<h4>
Village 3: Vienhinsoung
</h4>
<p>Most dependent on NTFPs, most directly impacted by climate events.</p>
<p>
Household interview, discussing the collection of NTFPs:
</p>

<p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/7gYllE0nKdk?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>

<p>Primary Forest around Vienhinsoung:</p>

<p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/tHbVYhmZ0m0?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>


<small>Consider how the characteristics of each village might impact the value-chain.</small>
 
<h3>Markets</h3>

<p>
As transport infrastructure and market access is now improving, there is an increase the production of cash crops and surplus harvest is being sold more often.
The market in Nambak features a diversity of wild food and bush meat, that depending on their origin can be more precisely referred to as non-timber forest products (NTFPs) or environmental products.
These can be an important source of nutrition and protein for buyers and source of income for the sellers and others in the value chain including traders, village middlemen and collectors.  Wild food is also important for food security during certain seasons or when agricultural crops fail.
</p>

<p>Nambak Market:</p>
<p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/0cQ-uBkuZ7g?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>

<h3>Case Product: Kaipen</h3>
<p>
One product that can be found in various forms at the Nambak is kaipen, otherwise known as riverweed.  It can be found here in its final form of dried sheets seasoned with sesame seeds, tomato and garlic or as a pulped raw material having been pounded by the riverside. The processing also involves the use of a fruit called hog plum Spondias mombin L. which darkens the colour in the washing process. It’s an interesting case of combining an environmental product with agricultural products and an ntfp or agroforestry product for the purpose of adding value. At Nambak they are sold in sheets of ten in plastic bags or bundles of 100 to wholesalers who take them to more distant markets in Luang Prabang, Vientiane or internationally to Thailand and beyond.
</p>

<p>
The product is so popular that nearly all households in the neighbouring Ban Bom village are participating in the production in one form or another generating significantly to local livelihoods.
</p>

<p>
Sustainability and biodiversity are also important aspects to consider in a holistic approach evaluating the net benefit of rural development.  In the case of kaipen, it is quite widely distributed and quick to regenerate, however some collectors did express concern about its availability. Hydoelectric dam projects in the area are likely to pose a bigger threat to this local cottage industry. Contamination of wild products by pollutants in the river like pesticides or dust from the busy roadside falling on drying sheets and the possible health impacts could be worth consideration as well. 
</p>

<h3>Key Informant Interviews</h3>

<p>
As we had little background information about the kaipen product, we used a qualitative research method known as "snowball sampling" to source research subjects.  Also known as “chain-referral sampling”, new informants are sourced from the existing research subjects during personal interviews. The questions asked of the subsequent candidates are then of a nature that they always probe for new information or to clarify any unknowns.  In this way the approach feels much like investigative reporting.
</p>
 
<h3>Value Chain Analysis</h3>
<p>
Browse the following videos from different stages of the kaipen value chain produced by both small businesses and the Korean NGO funded cooperative factory.
</p>

<p>
Kaipen collection:
</p>
<p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/D2VqyNtA0sw?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>

<p>
  Cleaning:
</p>
<p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/5XodofRqUUs?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>

<p>
  Home processor 1:
</p>
<p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/YOwvXb0sPWs?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>

<p>
  Home processor 2:
</p>
<p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/cdikBvqi1M4?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>

<p>
  Trader (village middleman):
</p>
<p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/0NDuS0yyyjA?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>

<p>
  Kaipen Co-op:
</p>
<p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/2byjrK0Dxes?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>
<p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/jptgz0Z0xtI?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>
<p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/2qZPu-Qe66E?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>

<h3>Excercise</h3>

<ol>
  <li>
  Think of another non-timber forest product or environmental product found in the tropics for which there are local, regional or international markets.

    <ol type="a">
      <li>What kind of processing is involved to prepare the product for end use?</li>
      <li>Who are the actors involved at the various stages of production and distribution?</li>
      <li>Describe or illustrate the value-chain for your product as you can imagine it.</li>
      <li>What factors could affect the development of markets for this product and the contribution to livelihoods.</li>
      <li>What other aspects should be considered as part of a holistic approach to sustainable production?</li>
    </ol>
  </li>
</ol>

 
<h3>Evaluation</h3>

<ol>
  <li>
    Can the student think of their own product that is found in the tropics and sold in markets?

    <ol type="a">
      <li>Have they reasonably described the production process and broken it into clear stages?</li>
      <li>Have they elaborated on the value added at each stage?</li>
      <li>Is there discussion or a map of transport logistics?</li>
      <li>Discussion about access to markets, infrastructure, seasonality and storage.</li>
      <li>Mention of biodiversity, fair trade, gender equality, certification schemes, etc.</li>
    </ol>
  </li>
</ol>


<h3>References</h3>

Sustainable livelihoods framework:
<ul> 
  <li>DFID. (1999). Sustainable livelihoods guidance sheets. Available online: http://www.eldis.org/vfile/upload/1/document/0901/section2.pdf. Accessed 23.12.2013. Department for International Development (DFID): London.</li>
  <li>Ellis, F. (1998). Household strategies and rural livelihood diversification. Journal of Development Studies 35(1): 1–38.</li>
  <li>Scoones, I. (1998). Sustainable rural livelihoods: a framework for analysis. IDS working paper 72. Institute of Development Studies, University of Sussex: Brighton, U.K.</li>
</ul>