<mat-sidenav-container class="row-1">

  <!-- sidebar -->
  <mat-sidenav class="courseSidenav" #courseSidenav [mode]=courseSidenavMode() [opened]=courseSidenavOpened() position="start">

    <div class="courseNav">
      <!-- nav level 1-->
      <div class="filters left">

        <!-- Tools -->
        <app-tools
          [locations]=locations
          [topics]=topics
          [topicsNew]=topicsNew
          [methods]=methods
          [methodsNew]=methodsNew
          [tabIndex]="methodIndex!==null?1:0"
          [topicIndex]="topicIndex"
          [methodIndex]="methodIndex"
          [locIndex]="locIndex"
        ></app-tools>
      </div>

      <div class="content-panel">

        <!-- nav level 2
        <mat-tab-group class="locations">

          <!-- Videos
          <mat-tab label="Videos">
            <ng-template matTabContent>-->

              <mat-nav-list class="locations-list">
                <mat-card-subtitle>
                  <mat-icon>videocam</mat-icon>
                  360° VIDEOS
                </mat-card-subtitle>
                @for (video of videosFiltered; track video; let i = $index) {
                  <a mat-list-item
                    [routerLink]="getRouterLink(i+1)"
                    routerLinkActive="active"
                    >
                    <span class="index">{{ i + 1}}.</span>
                    <span class="name">{{ video.properties.name }}</span>
                  </a>
                }
              </mat-nav-list>
            <!--</ng-template>
          </mat-tab>
        </mat-tab-group>
        <!-- end nav level 2 -->
      </div>
    </div>
    <div class="tab" (click)=courseSidenavService.toggle()>
      <mat-card-subtitle>
        <mat-icon>menu_book</mat-icon>
        COURSE CONTENT
      </mat-card-subtitle>
    </div>
  </mat-sidenav>

  <!-- Content -->
  <mat-sidenav-content>

    <!--<div class="video-row"></div>-->

    <!-- Video -->
    <app-video [videoId]=videoId></app-video>

    <!-- Location Content -->
    <app-content [videoId]=videoId [content]=content [title]=title [topics]="currentTopics" [methods]="currentMethods" [keywords]="currentKeywords">
    </app-content>

    <!-- Comments -->
    <app-comments></app-comments>

  </mat-sidenav-content>

</mat-sidenav-container>


<!-- Dialog -->
<dialog-block #dialog [hidden]="true"></dialog-block>