$fd-dark-blue: #121220;
$fd-teal: #B0D9D8;
$fd-dark-grey: #363636;

:host {
  display: block;
  background-color: #ffffff;
  padding: 2rem;
}

.row-1 {
  display: flex;
  flex-direction: row;
}

.videos {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
}

.left {
  margin-right: 2rem;
}

.content-panel {
  flex-grow: 1;
  margin-right: 2rem;
  margin-bottom: 1rem;
}

.location {
  display: flex;
  flex-direction: row;
  max-height: calc(100vh - 64px);

  .left {
    flex-grow: 3;
    max-width: 768px;
    height: calc(100vh - 64px);
    box-shadow: 0 19px 38px rgba(90, 73, 73, 0.3), 0 15px 12px rgba(0,0,0,0.22);
    z-index: 3000;
    overflow: hidden;
    //border-left: 1px solid #ccc;
  }

  .right {
    padding: 0 32px;
    background-color: #fff;
    border-left: 1px solid #ccc;
    overflow-y: auto;
    max-width: 375px;
    min-width: 375px;
  }
}

.map-grid {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .camera {
    border-bottom: 1px solid #ccc;
  }
}

.location-row {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  //flex-wrap: wrap;
  //max-width: 640px;
  width: 100%;
}

.video-row {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  //max-height: 240px;
  width: 100%;
}

@media (max-width: calc(924px)){

  .videos {
    flex-direction: column;
  }

  .location .right {
    height: calc((100vh - 64px) / 2);
  }
}

@media (max-width: 640px){

  .locations-toolbar {
    display: none;
  }

  .video-row {
    flex-direction: column;

    app-map {
      max-width: none;
    }
  }
}