<div class="row-1">

  <div class="videos">

    <div class="left">

      <h2>Filters</h2>

      <!-- Tools -->
      <app-tools 
        [locations]=locations
        [topics]=topics
        [topicsNew]=topicsNew
        [methods]=methods
        [methodsNew]=methodsNew
        [tabIndex]="methodIndex!==null?1:0"
        [topicIndex]="topicIndex"
        [methodIndex]="methodIndex"
        ></app-tools>
    </div>

    <div class="content-panel">

      <div class="locations">

          <h2>Videos</h2>

          <mat-nav-list class="locations-list">
            <a mat-list-item
            [routerLink]="['/loc', i+1]"
            *ngFor="let video of videos; let i = index"
            routerLinkActive="active"
            >
            <span class="videoId">{{ video.properties.videoId }}</span>
            <span class="name">{{ video.properties.name }}</span>
            </a>
          </mat-nav-list>

          <!--
          <mat-nav-list class="locations-list" *ngIf=false>
              <a mat-list-item
              [routerLink]="['/loc', i+1]"
              *ngFor="let loc of locations; let i = index"
              routerLinkActive="active"
              >{{ loc.properties.name }}</a>
            </mat-nav-list>-->
      </div>
    </div>

  </div>

  <div class="location-row">

    <div class="video-row">

      <!-- Video -->
      <app-video></app-video>
      
      <!-- Map -->
      <app-map></app-map>

    </div>

    <!-- Content -->
    <app-content [content]=content [title]=title [topics]="currentTopics" [methods]="currentMethods" [keywords]="currentKeywords">
    </app-content>
  
    <!-- Comments -->
    <app-comments></app-comments>

  </div>

</div>


<!-- Dialog -->
<dialog-block #dialog [hidden]="true"></dialog-block>