$color_primary: #00A287;
$color_active: rgba($color_primary, 0.25);
$fd-dark-grey: #363636;

:host {
  display: block;
  background-color: #ffffff;
}

.row-1 {
  display: flex;
  flex-direction: row;
  min-height: calc(100vh - 64px);
}

.courseSidenav {
  width: 441px;
  min-width: 441px;
  max-width: 441px;
  min-height: 100%;

  .courseNav {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    height: 100%;
  }

  .tab {
    display: none;
  }
}

.left {
  height: 100%;
}

.locations-list {
  border-left: solid 1px rgba(0,0,0,.12);
  min-height: calc(100% - 0.5rem);
}

.content-panel {
  flex-grow: 1;
  width: 220px;
  /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version.*/
  mat-card-subtitle {
    align-items: center;
    display: flex;
    padding: 0 1rem; // align with label, not index
    margin-bottom: 0.5rem;

    mat-icon {
      text-align: right;
      width: 1.5rem;
      margin-right: 0.25rem;
    }
  }
  
  .mat-mdc-list-item {
    align-items: flex-start !important;
    border-bottom: 1px solid #efefef;
    font-size: 0.875rem;
    height: auto !important;
    /* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version.*/
    .mat-list-text {
      display: flex;
      flex-direction: row;
      align-items: flex-start !important;
    }

    .index {
      margin-right: 0.75rem;
      text-align: right;
      width: 1rem;
    }
  
    .name {
      width: 10rem;
    }

    &.active {
      background-color: $color_active;
    }
  }
}

.location {
  display: flex;
  flex-direction: row;

  .left {
    flex-grow: 3;
    max-width: 768px;
    height: calc(100vh - 64px);
    box-shadow: 0 19px 38px rgba(90, 73, 73, 0.3), 0 15px 12px rgba(0,0,0,0.22);
    z-index: 3000;
    overflow: hidden;
    height: 100%;
    //border-left: 1px solid #ccc;
  }

  .right {
    padding: 0 32px;
    background-color: #fff;
    border-left: 1px solid #ccc;
    overflow-y: auto;
    max-width: 375px;
    min-width: 375px;
  }
}

.map-grid {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .camera {
    border-bottom: 1px solid #ccc;
  }
}

.mat-drawer-content {
  overflow: hidden;
}

.mat-sidenav-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0;
  width: 100%;
}

.video-row {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  max-height: 360px;
  width: 100%;
}

@media (max-width: calc(924px)){

  .courseSidenav {
    width: 220px;
    min-width: 220px;
    max-width: 220px;
  
    .courseNav {
      flex-direction: column;
    }

    .left {
      height: auto;
    }

    .locations-list {
      border-left: 0;
    }
  }

  .location .right {
    height: calc((100vh - 64px) / 2);
  }
}

@media (max-width: 600px){

  .row-1 {
    min-height: calc(100vh - 56px);
  }

  .courseSidenav {
    transform: translate3d(-220px,0,0);
    width: 252px;
    min-width: 252px;
    max-width: 252px;
    visibility: visible !important;
    
    .tab {
      background-color: $color_primary;
      cursor: pointer;
      display: flex;
      flex-grow: 1;
      align-items: flex-start;
      position: relative;
      overflow: hidden;
      white-space: nowrap;
      width: 2rem;
      /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version.*/
      mat-card-subtitle {
        align-items: center;
        color: #efefef;
        display: flex;
        line-height: 1.95rem;
        margin-top: -1.75rem;
        transform-origin: left bottom;
        transform: rotate(90deg);

        mat-icon {
          color: #efefef;
          margin: 0 0.5rem 0.25rem 0.5rem;
        }
      }
    }
  }

  .mat-sidenav-content {
    margin-left: 2rem;
    padding: 0rem;
  }

  .locations-toolbar {
    display: none;
  }

  .video-row {
    flex-direction: column;

    app-map {
      max-width: calc(100% - 2rem);
      padding: 0 1rem;
    }
  }

  app-content {
    margin: 0 1rem;
  }
}