mat-toolbar.mat-primary {
    background: #000;
    display: flex;
    flex-direction: row;

    :nth-child(2) {
        flex-grow: 1;
    }

    @media (max-width: 600px){
      padding: 0;
    }

    .title {
      color: white;
      height: 2rem;
      text-decoration: none;

      @media (max-width: 600px){
        .title-extra {
          display: none;
        }
      }

      @media (max-width: 320px){
        .title-text {
          display: none;
        }
      }
    }

    .user {

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .photo {
            display: none;
            width: 32px;
            height: 32px;
            background-color: #a6a6a6;
            border-radius: 50%;
            margin-right: 1rem;
        }
        .name {
            font-size: 0.875rem;
            text-transform: uppercase;
        }
    }
}

mat-sidenav-container {
  min-height: 100vh;
}

.mat-sidenav {

  display: flex;
  background-color: #eeeeee;
  flex-flow: column;
  justify-content: space-between;
  min-width: 288px;
  min-height: 360px;

  .mat-toolbar {
    align-content: flex-start;
    background-color: #fff;
    display: flex;
    position: relative;
    height: auto;
    padding: 1rem;
    flex-direction: column;
    justify-content: space-between;

    .user-avatar {
      align-self: stretch;
    }
  }

  .mat-user-avatar {
    background-size: cover;
    font-size: 100px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 1rem;
  }

  .name {
    color: #000;
    font-family: 'Open sans', sans-serif;
    width: 100%;
  }

  .sidebar-bottom {
    padding-bottom: 1rem;

    .privacy {
      /* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
      .mat-list-item-content {
        justify-content: flex-end;
      }
    }
  }

  .mat-mdc-list {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;

    .mat-mdc-card-subtitle {
      margin-bottom: 0.5rem;
      margin-top: 0;
    }

    .mat-mdc-list-item {
      margin-bottom: 1px;
      /* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
      .mat-list-item-content {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
  
      .mat-mdc-button {
        border-radius: 0;
        width: 100%;
        text-align: left;
        font-family: 'Open sans', sans-serif;
        background-color: #fff;
  
        .mat-icon {
          padding-left: 0;
          margin-right: 0.5rem;
        }
      }  

    }
  }

  .mat-mdc-card-subtitle {
    margin: 2rem 1rem 0rem;
  }
}