:host {
  max-width: 536px;
  margin: 1rem;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card {
  margin: 1rem 0;
  /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
  mat-card-header {

    margin-bottom: 1rem;

    mat-icon {
      font-size: 42px;
    }
  }
}

form {
  align-items: flex-start;
  display: flex;
  flex-direction: column;

  .comment-type {
    width: 135px;
  }

  .comment-text {
    flex-grow: 1;
    width: 100%;
  }

  .comment-anonymous {
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 100%;

    .divider {
      margin: 0 1rem;
    }
  }
}

/* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
/* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
mat-list-item {

  height: auto !important;

  &:not(:last-child) {
    border-bottom: solid 1px #e0e0e0;
  }

  .mat-mdc-list-item-avatar {
    align-self: flex-start;
    background-size: cover;
    font-size: 40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .comment {
    position: relative;

    position: relative;

    .row2 {
      white-space: pre-wrap !important;
    }

    .actions {
      position: absolute;
      top: 4px;
      right: 0;
    }

  }
}

.mat-mdc-list-base .mat-mdc-list-item .mat-line {
  white-space: normal !important;
}

.mat-mdc-list-base .mat-mdc-list-item.mat-2-line {
  height: auto;
}