$fd-dark-blue: #121220;
$fd-teal: #B0D9D8;
$fd-dark-grey: #363636;

.location {
  display: flex;
  flex-direction: row;
  max-height: calc(100vh - 64px);

  .left {
    flex-grow: 3;
    max-width: 768px;
    height: calc(100vh - 64px);
    box-shadow: 0 19px 38px rgba(90, 73, 73, 0.3), 0 15px 12px rgba(0,0,0,0.22);
    z-index: 3000;
    overflow: hidden;
    //border-left: 1px solid #ccc;
  }

  .right {
    padding: 0 32px;
    background-color: #fff;
    overflow-y: auto;
    max-width: 375px;
    min-width: 375px;

    @media (max-width: calc(924px)){
      height: calc((100vh - 64px) / 2);
    }

    border-left: 1px solid #ccc;

  }
}

.map-grid {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .camera {
    border-bottom: 1px solid #ccc;
  }
}

.locations-toolbar {
  @media (max-width: 640px){
    display: none;
  }
}

.locations-row {
  display: flex;
  flex-direction: row;
  flex-grow: 2;

  @media (min-width: 960px){
    height: 37vw;
  }

  >.tools,
  >.info {
    flex-grow: 1;
  }

  .tools {
    background-color: #efefef;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    z-index: 1000;
  }
}

.camera {
  background: #000;
  width: 100%;
  
}

.videoWrapper {
	position: relative;
  // let's not lock it
  padding-bottom: 56.25%; /* 16:9 */
  width: 100%;
}

.map {
  flex-grow: 2;
}

.course-info {
  display: flex;
  flex-direction: row;
}

@media (max-width: calc(924px)){

  .course-info {
    flex-direction: column;
    width: 50vw;

    .right {
      max-width: none;
      min-width: 0;
    }
  }

  .tools {
    height: calc((100vh - 64px) / 2);
  }
}

@media (max-width: 640px){
  .course-info {
    display: none;
  }

  .map-grid .camera {
    display: none;
  }

  .location {
    display: block;
  }
}


.locations {
  overflow: scroll;

  a {

  &.active {
      background: $fd-teal;
  }
  }
}

.locations-list {
  overflow: scroll;
}

mat-tab-group { height: 100% }