$fd-dark-blue: #121220;
$fd-teal: #B0D9D8;
$fd-dark-grey: #363636;

mat-toolbar {
  display: none;
}

.map {
}

.map-grid {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .map {
      flex-grow: 2;
  }
}

.locations-toolbar {
  @media (max-width: 640px){
    display: none;
  }
}

.locations-row {
  display: flex;
  flex-direction: row;
  height: 40vw;
  max-height: 50vh;
  @media (max-width: 640px){
    display: none;
  }
  @media (min-width: 960px){
    height: 37vw;
  }

  >.tools {
    flex-grow: 2;
  }
}

.locations {
  overflow: scroll;

  a {

  &.active {
      background: $fd-teal;
  }
  }
}

.locations-list {
  overflow: scroll;
}

mat-tab-group { height: 100% }

.camera {
  background: #000;
  width: 66.666%;
  // prevent the video ever being cut off the bottom of the screen
  max-width: 88.888889vh; // 50vh * 9/16
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
}
