<div class="content-wrapper">

  <div class="content-header">
    <div class="content-heder-info">

      <div class="content">
        <!-- Name -->
        <h1>{{title}}</h1>

        <!-- Description-->
        <p>{{content}}</p>

        <!-- Topics-->
        <ng-container *ngIf="topics?.length">
          <h2>Topics</h2>
          <mat-chip-listbox>
              <mat-chip-option color="secondary" selected="true" *ngFor="let topic of topics;">{{topic}}</mat-chip-option>
          </mat-chip-listbox>
        </ng-container>

        <!-- Methods-->
        <ng-container *ngIf="methods?.length">
          <h2>Research Methods</h2>
          <mat-chip-listbox>
              <mat-chip-option color="secondary" selected="true" *ngFor="let method of methods;">{{method}}</mat-chip-option>
          </mat-chip-listbox>
        </ng-container>

        <!-- Keywords-->
        <ng-container *ngIf="keywords?.length">
          <h2>Keywords</h2>
          <mat-chip-listbox>
              <mat-chip-option color="secondary" *ngFor="let keyword of keywords;">{{keyword}}</mat-chip-option>
          </mat-chip-listbox>
        </ng-container>
      </div>
    </div>

    <!-- Map -->
    <app-map></app-map>
  </div>

</div>
