:host {
  margin-bottom: 1rem;
  width: 100%;
}

.content-wrapper {
  padding: 1rem;
}

.content-header {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.content-heder-info {
  margin-right: 1rem;
  flex-grow: 1;

  h1 {
    margin-top: 0;
  }
}

.content {
  max-width: 480px;
}