<div class="content-wrapper">

  <div class="content-header">
    <div class="content-heder-info">

      <div class="content">
        <!-- Name -->
        <h1>{{title}}</h1>

        <!-- Description-->
        <p>{{content}}</p>

        <!-- Topics-->
        @if (topics?.length) {
          <h2>Topics</h2>
          <mat-chip-listbox>
            @for (topic of topics; track topic) {
              <mat-chip-option color="secondary" selected="true">{{topic}}</mat-chip-option>
            }
          </mat-chip-listbox>
        }

        <!-- Methods-->
        @if (methods?.length) {
          <h2>Research Methods</h2>
          <mat-chip-listbox>
            @for (method of methods; track method) {
              <mat-chip-option color="secondary" selected="true">{{method}}</mat-chip-option>
            }
          </mat-chip-listbox>
        }

        <!-- Keywords-->
        @if (keywords?.length) {
          <h2>Keywords</h2>
          <mat-chip-listbox>
            @for (keyword of keywords; track keyword) {
              <mat-chip-option color="secondary">{{keyword}}</mat-chip-option>
            }
          </mat-chip-listbox>
        }
      </div>
    </div>

    <!-- Map -->
    <app-map></app-map>
  </div>

</div>
