<h1>Privacy Policy</h1>

<p>Thank you for your interest and participation in this online course concept. All are free to browse the content of the course, though no warrantee is given.
    One can log into the course through various channels (Google, Facebook, Twitter, Github)
and from these third parties a limited amount of information is collected:</p>

<ul>
    <li>Name</li>
    <li>Email address</li>
    <li>Profile picture</li>
</ul>

<p>Having logged in, you may be able to interact with other course participants through comments or chat.
    Please treat others with respect. You can always edit and remove your own content through the course interface.
    If comments / observations are used in research or course content, then the archival strategy should be agreed beforehand. 
</p>

<p>Privacy is held in the highest regard and we are GDPR complant and transparent in how we handle your data. The course is hosted on Google's Firebase platform in EU datacenters and all data remains in the EU and is handled according to EU data privacy law.</p>

<p>For privacy inquiries or to submit a request to remove information, please contact:</p>

<p>Thomas Moon<br />
Master's Student<br/>
<a href="mailto:thomas@forestdesigner.com">thomas&#64;forestdesigner.com</a></p>

<p>    
c/o University of Helsinki<br />
Mixed Reality Hub, Yliopistonkatu 3, 00100 Helsinki
</p>

<p><small>This online course concept is part of a research project of Thomas Moon conducting his Master's thesis
    on "immersive media for forestry education". The University of Helsinki is not responsible for this website, though the 360° video
    from Laos was captured as part of this research and is used with permission.
</small></p>