<!-- tools -->
<mat-tab-group [selectedIndex]='tabIndex'>

  <!-- Topics -->
  <mat-tab label="TOPICS">
    <ng-template matTabContent>
      <div class="topics">
        <mat-nav-list class="tasks-list">
          @for (topic of topicsNew; track topic; let i = $index) {
            <a mat-list-item [routerLink]="['/', 'topic', topic.slug]" routerLinkActive="active">{{ topic.name }}</a>
          }
        </mat-nav-list>
      </div>
    </ng-template>
  </mat-tab>

  <!-- Methods -->
  <mat-tab label="METHODS">
    <ng-template matTabContent>
      <div class="methods">
        <mat-nav-list class="methods-list">
          @for (method of methodsNew; track method; let i = $index) {
            <a mat-list-item [routerLink]="['/', 'method', method.slug]" routerLinkActive="active">{{ method.name }}</a>
          }
        </mat-nav-list>
      </div>
    </ng-template>
  </mat-tab>

</mat-tab-group>
<!-- end tools -->
