$color_primary: #00A287;
$color_active: rgba($color_primary, 0.25);

:host {
  display: block;
  width: 220px;
  //box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  z-index: 1000;
}

/*TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
mat-tab-group { 
  height: 350px;
  width: 100%;
 }

 .mat-mdc-list-item {
    &.active {
      background-color: $color_active;
    }
 }