@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

$fd-dark-blue: #121220;
$fd-teal: #B0D9D8;
$fd-dark-grey: #363636;

body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
}


.map-grid {
    .mat-toolbar-single-row {
        background-color: $fd-dark-blue;
        color: white;
        height: 48px;
    }

    /*
    .locations,
    .camera {
            .mat-toolbar-single-row {
            background-color: $fd-dark-grey;
            color: white;
        }
    }*/
}

.mat-dialog-container {
    padding: 0 !important;

    iframe {
        width: 320px;
        height: 180px;
    }
}

.mat-dialog-actions {
    display: none;
}

// Why doesn't this work from map-box.component.ts?
.mapboxgl-ctrl-active {
    font-weight: bold;
}

// Youtube player
#player {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.tools {
    flex-grow: 2;
}  
  
.mat-tab-label {
    flex-grow: 1;
    min-width: 100px !important;
}
