@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

$color_primary: #00A287;
$color_active: lighten($color_primary, 50%);

body, html {
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100vh;
  //min-width: 320px;
  position: relative;
}

table {
  width: 100%;
}

h1 {
  font-size: 1.5rem;

  @media (max-width: 600px){
    font-size: 1.25rem;
  }
}

h2 {

  font-size: 1.25rem;

  @media (max-width: 600px){
    font-size: 1.125rem;
  }
}

.mat-toolbar {
    
  .title {
      margin-left: 3px;
      padding-left: 48px;
      position: relative;
  }

  .logo {
      position: absolute;
      top: -3px;
      left: -3px;
      display: block;
      width: 40px;
      height: 40px;
      background-image: url('/assets/university_of_helsinki-logo.svg');
      background-position: left center;
      background-size: auto 100%;
      background-repeat: no-repeat;
  }
}

// Should work from course component
.courseSidenav .mat-drawer-inner-container {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  height: auto !important;
  min-height: 100%;
}

.mat-mdc-dialog-container {
  iframe {
      width: 320px;
      height: 180px;
  }
}

// Why doesn't this work from map-box.component.ts?
.mapboxgl-ctrl-active {
  font-weight: bold;
}

// Youtube player
#player {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.tools {
  flex-grow: 2;
}  
  
/*TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
.mat-tab-label {
  flex-grow: 1;
  //height: 32px !important;
  min-width: 100px !important;
}

// Problems setting this from course styles because angular generated
// element does not have indentifier used with encapsulated styles
/*TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version.*/
.locations-list .mat-mdc-list-item .mat-list-item-content {
  align-items: flex-start !important;
  line-height: 1.125rem !important;
  padding: 0.5rem 1rem !important;
}

/*TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version.*/
.comments-list .mat-mdc-list-item .mat-list-item-content {
  align-items: flex-start !important;
  padding: 1rem 0 !important;
}

/*TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version.*/
.mat-mdc-list-item.privacy .mat-list-item-content {
  justify-content: flex-end;
}